nav {
    background-color: rgb(255, 100, 100);
    padding: 10px 0;
}
.content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li ul {
    background-color: rgb(225,75,75);
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
}
nav li.dropdown > a {
    background-image: url('../img/ert.png');
    background-position: right 20px;
    background-repeat: no-repeat;
}
.sub-menu{
    display: none;
}

nav li li {
    position: relative;
    margin: 0;
    display: block;
}

nav li li ul {
    position: absolute;
    top: 0;
    left: 200px;
    margin: 0;
}

nav li li a {
    border-bottom: solid 1px rgb(200,50,50);
    margin: 0 10px;
    padding: 0;
}
nav li li.dropdown > a {
    background-image: url('../img/ert2.png');
    background-position: right 16px;
    background-repeat: no-repeat;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

/*ul#navmenu-v li:hover ul ul,*/
/*ul#navmenu-v li:hover ul ul ul,*/
/*ul#navmenu-v li.iehover ul ul,*/
/*ul#navmenu-v li.iehover ul ul ul {*/
/*display: none;*/
/*}*/

/*ul#navmenu-v li:hover ul,*/
/*ul#navmenu-v ul li:hover ul,*/
/*ul#navmenu-v ul ul li:hover ul,*/
/*ul#navmenu-v li.iehover ul,*/
/*ul#navmenu-v ul li.iehover ul,*/
/*ul#navmenu-v ul ul li.iehover ul {*/
/*display: block;*/
/*}*/